
<div class="container">
  <div class="row">
    <% if @user.image_url %>
      <div class="col-4">
        <%= image_tag @user.image_url, width: "200px", class: "profile-pic" %>
      </div>
    <% end %>

    <div class="col-md-8">
      <div class="col-8 text-left">
        <h2><strong><%=@user.username%></strong></h2>
        <h3><strong>Position: <%= @user_position %></strong></h3>
        <h5><strong><%= @user.full_name %></strong></h5>
        <h5><strong>Score: <%= @user.elo_ranking %></strong></h5>
        <h5><strong>Email: </strong><%= @user.email_com%>
          <br><br>
        <%= link_to 'Edit User', edit_registration_path(@user), class: 'btn btn-success' %>
        <%= link_to "Back", root_path, class: 'btn btn-success'%></div>
    </div>
  </div>
</div>
